* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}


/********** nav **********/

nav {
    position: relative;
    width: 1513px;
    height: 187px;
    margin: 0 auto;
    overflow: hidden;
    border-bottom: solid 0.5px #C0C0C0;
}

a:link,
a:visited {
    text-decoration: none;
}

.menu a:link,
.menu a:visited {
    color: black;
}

.loginBtn:link,
.signupBtn:link,
.loginBtn:visited,
.signupBtn:visited {
    color: black;
}

.interestConutry_modify a:link,
.review_modify a:link,
.clipping_modify a:link,
.interestConutry_modify a:visited,
.review_modify a:visited,
.clipping_modify a:visited {
    color: #444444;
}


/* logo */

.wrap_logo {
    position: absolute;
    overflow: hidden;
    width: 127px;
    height: 110px;
    margin-left: 77px;
    margin-top: 40px;
}

.wrap_logo img {
    width: 100%;
    cursor: pointer;
}


/* menu */

.wrap_menu {
    position: absolute;
    margin-left: 430px;
    margin-top: 140px;
}

.menu {
    list-style: none;
    margin-top: 0px;
    padding: 0px;
}

ul.menu>li {
    display: inline-block;
    font-size: 24px;
    margin-right: 114px;
    cursor: pointer;
}


/* login */

.wrap_login-bar {
    position: absolute;
    margin-left: 1377px;
    margin-top: 148px;
}

.login-bar {
    list-style: none;
    margin-top: 0px;
    padding: 0px;
}

ul.login-bar>li {
    display: inline-block;
    font-size: 13px;
    margin-right: 8px;
    padding: 4px;
    cursor: pointer;
    border: solid 1px white;
}

ul.login-bar>li:hover {
    border: solid 1px #F9F9F9F9;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}


/* search */

.wrap_search {
    position: relative;
    margin-left: 453px;
    margin-top: 40px;
    width: 607px;
    height: 58px;
}

.wrap_search input {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding-left: 37px;
    font-size: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: none;
}

.wrap_search input:focus {
    outline: none;
}

.wrap_search input::placeholder {
    color: #B3B3B3;
}

.wrap_search i {
    position: absolute;
    font-size: 30px;
    color: #0029BA;
    margin-left: 555px;
    margin-top: 14px;
    cursor: pointer;
}


/********** section **********/

.wrap_review {
    width: 940px;
    height: 100%;
    margin: 0 auto;
    margin-top: 51px;
    margin-bottom: 50px;
}

.wrap_review .review_title {
    font-size: 24px;
    margin: 0px;
    margin-bottom: 70px;
}

.review {
    width: 940px;
    margin-bottom: 42px;
}

.review_contents {
    width: 940px;
    height: auto;
    overflow: hidden;
}

.review_contents a:link,
.review_contents a:visited {
    color: black;
}

.review_infor {
    width: 940px;
    height: 25px;
}

.review_infor img {
    float: left;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
}

.review_infor p {
    margin: 0;
    display: inline-block;
    font-size: 16px;
    margin-top: 2px;
}

.review_content {
    margin-top: 7px;
    width: 920px;
}

.review_content p {
    font-size: 16px;
    margin: 0px;
    white-space: normal;
    word-wrap: break-word;
    width: 925px;
}

.review_date {
    margin: 0px;
    font-size: 12px;
    color: #989898;
    float: right;
}


/********** footer **********/

footer {
    position: relative;
    width: 1513px;
    height: 163px;
    background-color: #393939;
    margin: 0 auto;
    overflow: hidden;
}

footer p {
    margin: 0px;
    color: white;
}

.wrap_company {
    position: absolute;
    width: 200px;
    height: 79px;
    margin-left: 57px;
    margin-top: 21px;
}

.wrap_contact {
    width: 300px;
    height: 102px;
    margin-left: 328px;
    margin-top: 21px;
}