* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

/*로고*/
nav {
    display: flex;
    position: relative;
    width: 1513px;
    height: 259px;
    margin: 0 auto;
    overflow: hidden;
    align-items: center;
    justify-content: space-evenly;

}

.wrap_logo {
    position: absolute;
    overflow: hidden;
    width: 127px;
    height: 110px;
}

.wrap_logo img {
    width: 100%;
    cursor: pointer;
}

/*main*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1513px;
    height: 800px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

#signUp_form {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;

}
.wrap_main1{
    margin-bottom: 50px;
}
.wrap_main3{
    margin-bottom: 50px;
}
.main_top input{
    border-top-right-radius:10px;
    border-top-left-radius:10px;
    border-bottom: none;
}
.main_box input{
    border-bottom: none;
}

.main_bottom1 input{
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
}
.main_bottom2{
    box-sizing: border-box;
    width: 539px;
    height: 60px;
    border: 1px solid #cccccc;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
}
input {
    width: 487px;
    height: 60px;
    border: 1px solid #cccccc;
    margin: 0px;
    padding-left: 50px;
    font-size:20px ;
}

#signUp_form input:focus {
    outline: none;
}

input::placeholder {
    font-size: 20px;
    vertical-align: middle;
}
/*main img*/
#signUp_form img {
    position: absolute;
    width: 28px;
    height: 32px;
    margin-left: 12px;
    margin-top: 17px;
}
/*check box*/

.main_bottom2 input{
    position: absolute;
    width: 28px;
    height: 32px;
    margin-left: 12px;
    margin-top: 13px;

}
.check_label{
    display:flex;
    padding-left:50px;
    padding-top:14px;
    position: relative;
    width: fit-content;
    font-size: 20px;
    font-weight: bold;
}
span{
    color:#0029BA;
}
.main_bottom2 details{
    padding-left:10px;
}
.agreement{
    padding-left:6px;
    color:#615d5d;
}


.signUp_btn {
    width: 540px;
    height: 66px;
    border-radius: 10px;
    background-color: #0029BA;
    text-align: center;
    font-size: 24px;
    color: white;
    border: none;
    margin-top:30px;
    padding: 10px;
}